<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Gestión de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
    <h1>Gestión de Clientes</h1>

    <hr/>

    <section>
        <h2>Buscar Clientes por CUIT</h2>
        <form th:action="@{/clientes/buscar}" method="get">
            <label for="cuit">CUIT:</label>
            <input type="text" id="cuit" name="cuit" required />
            <button type="submit">Buscar</button>
        </form>
    </section>

    <section>
        <h2>Buscar Clientes por Rol</h2>
        <form th:action="@{/clientes/buscar-por-role}" method="get">
            <label for="role">Rol:</label>
            <input type="text" id="role" name="role" required />
            <button type="submit">Buscar</button>
        </form>
    </section>

    <section>
        <h2>Buscar Contacto por CUIT</h2>
        <form th:action="@{/clientes/contacto-por-cuit}" method="get">
            <label for="cuitContacto">CUIT:</label>
            <input type="text" id="cuitContacto" name="cuit" required />
            <button type="submit">Buscar Contacto</button>
        </form>
    </section>

    <section>
        <h2>Ver Todos los Clientes</h2>
        <form th:action="@{/clientes/todos}" method="get">
            <button type="submit">Mostrar Todos</button>
        </form>
    </section>


	<div style="text-align: center; margin-top: 20px;">
        <a href="/" class="btn">← Volver</a>
    </div>
</body>
</html>
