<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Detalle Cliente</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
    <h1>Información del Cliente</h1>
    <hr/>

    <p class="mensaje" th:if="${mensaje}" th:text="${mensaje}"></p>

    <!-- Datos del Cliente -->
    <section th:if="${cliente != null}">
        <h2>Datos Personales</h2>
        <p><strong>ID:</strong> <span th:text="${cliente.idPersona}"></span></p>
        <p><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
        <p><strong>Apellido:</strong> <span th:text="${cliente.apellido}"></span></p>
        <p><strong>DNI:</strong> <span th:text="${cliente.dni}"></span></p>
        <p><strong>CUIT:</strong> <span th:text="${cliente.cuit}"></span></p>
    </section>

	<div style="text-align: center; margin-top: 20px;">
        <a href="/" class="btn">← Volver</a>
    </div>
</body>
</html>
