<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Detalle Servicio</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>

    <h1>Detalle del Servicio</h1>
    <hr/>

    <!-- Detalle del servicio -->
    <section th:if="${servicio != null}">
        <p><strong>ID:</strong> <span th:text="${servicio.idServicio}"></span></p>
        <p><strong>Descripción:</strong> <span th:text="${servicio.descripcion}"></span></p>
        <p><strong>Duración (minutos):</strong> <span th:text="${servicio.duracion}"></span></p>
        <p><strong>Activo:</strong> <span th:text="${servicio.activo} ? 'Sí' : 'No'"></span></p>
    </section>

    <!-- Mensaje informativo -->
    <section th:if="${mensaje != null}">
        <p class="mensaje" th:text="${mensaje}"></p>
    </section>

	<div style="margin-top: 30px; text-align: center;">
	        <button onclick="window.history.back()" class="btn-volver">← Volver</button>
	    </div>

</body>
</html>
