<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Principal</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <header>
        <h1>Panel Principal</h1>
    </header>

    <div class="container">
		<a class="link-card" href="/clientes/formulario">Gestión de Cliente</a>
		<a class="link-card" href="/empleados/formulario">Gestión de Empleado</a>
		<a class="link-card" href="/lugares/formulario">Gestión de Lugar</a>
		<a class="link-card" href="/usuarios/formulario">Gestión de Usuario</a>
		<a class="link-card" href="/servicios/formulario">Gestión de Servicio</a>
		<a class="link-card" href="/turnos/formulario">Gestión de Turno</a>
		<a class="link-card" href="/roles-usuarios/formulario-roles-usuarios">Gestión de Rol Usuario</a>
    </div>
</body>
</html>
